@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  @apply font-body text-text-primary bg-background transition-colors duration-300 ease-in-out dark:bg-background-dark dark:text-text-primary-dark;
}

body {
  @apply bg-surface text-text-primary transition-colors duration-300 ease-in-out dark:bg-surface-dark dark:text-text-primary-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-bold text-text-primary mb-4 dark:text-text-primary-dark;
}

p,
ul,
ol {
  @apply mb-4 leading-relaxed text-text-primary dark:text-text-primary-dark;
}

a {
  @apply text-primary transition-colors duration-300 no-underline dark:text-primary-dark;
}

a:hover {
  @apply text-primary-hover dark:text-primary-hover;
}

/* Buttons */
.btn-primary {
  @apply bg-primary text-on-primary hover:bg-primary-hover rounded-md transition duration-300 dark:bg-primary-dark dark:text-on-primary-dark;
}

.btn-secondary {
  @apply bg-secondary text-on-secondary hover:bg-secondary-hover rounded-md transition duration-300 dark:bg-secondary-dark dark:text-on-secondary-dark;
}

button:disabled {
  @apply cursor-not-allowed bg-surface text-text-primary dark:bg-surface-dark dark:text-text-primary-dark;
}

/* Inputs and Textareas */
/* Inputs and Textareas */
input,
textarea {
  @apply w-full px-4 py-2 border rounded-md text-text-primary focus:outline-none focus:ring-2 focus:ring-primary dark:bg-surface-dark dark:border-gray-600 dark:text-text-primary-dark dark:placeholder-gray-400;
}

input.error,
textarea.error {
  @apply border-error focus:ring-error dark:border-error dark:focus:ring-error;
}

/* Ensure placeholder text is readable in dark mode */
input::placeholder,
textarea::placeholder {
  @apply text-gray-500 dark:text-gray-400;
}

.error-message {
  @apply text-error text-sm mt-0.5 dark:text-error-dark;
}

/* Modals */
.modal-overlay {
  @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal-content {
  @apply bg-surface p-6 rounded-lg shadow-lg max-w-lg w-full fade-in dark:bg-surface-dark;
}

.dropdown-item {
  @apply px-4 py-2 cursor-pointer hover:bg-primary hover:text-on-primary dark:hover:bg-primary-dark dark:hover:text-on-primary-dark;
}

.dropdown-item-logout {
  @apply px-4 py-2 cursor-pointer text-error hover:bg-error hover:text-white dark:hover:bg-error-dark;
}

.dropdown-enter {
  @apply opacity-0 translate-y-2;
}

.dropdown-enter-active {
  @apply opacity-100 translate-y-0 transition duration-300 ease-in-out;
}

@layer base {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-out;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .modal-content {
    @apply w-11/12 p-4;
  }
}