:root {
  --primary-color: #1e88e5;
  --primary-hover: #1565c0;
  --secondary-color: #ffca28;
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #ffffff;
  --text-dark: #333333;
  --border-color: #dddddd;
  --error-color: #e74c3c;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-dark);
  background-color: var(--background-light);
  transition: background-color 0.3s, color 0.3s;
}

[data-theme='dark'] {
  color: var(--text-light);
  background-color: var(--background-dark);
}